<html>
<head>
    <meta charset="utf-8">
    <title>ALPHA CONFLUENCE</title>
</head>
<body>
<h1>ALPHA CONFLUENCE</h1>
<h2>Задача <span th:text="${jiraTaskId}"/> <span th:text="${jiraTaskName}"/></h2>
<p>
    <span th:text="${jiraTaskDescription}"/>
</p>
<h2>Персептрон как метод распознавания образов</h2>

<p>
    Фрэнк Розенблатт, вводя понятие о модели мозга, задача которой состоит в том, чтобы показать, как в некоторой
    физической системе, структура и функциональные свойства которой известны, могут возникать психологические явления,
    описал простейшие эксперименты по различению. Данные эксперименты целиком относятся к методам распознавания образов,
    но отличаются тем, что алгоритм решения не детерминированный.
</p>
<p> Простейший эксперимент, на основе которого можно получить психологически значимую информацию о некоторой системе,
    сводится к тому, что модели предъявляются два различных стимула и требуется, чтобы она реагировала на них различным
    образом. Целью такого эксперимента может быть исследование возможности их спонтанного различения системой при
    отсутствии вмешательства со стороны экспериментатора, или, наоборот, изучение принудительного различения, при
    котором экспериментатор стремится обучить систему проводить требуемую классификацию.
</p>
<p>В опыте с обучением персептрону обычно предъявляется некоторая последовательность образов, в которую входят
    представители каждого из классов, подлежащих различению. В соответствии с некоторым правилом модификации памяти
    правильный выбор реакции подкрепляется. Затем персептрону предъявляется контрольный стимул и определяется
    вероятность получения правильной реакции для стимулов данного класса. В зависимости от того, совпадает или не
    совпадает выбранный контрольный стимул с одним из образов, которые использовались в обучающей последовательности,
    получают различные результаты:
</p>
<p>Если контрольный стимул не совпадает ни с одним из обучающих стимулов, то эксперимент связан не только с чистым
    различением, но включает в себя и элементы обобщения.
    Если контрольный стимул возбуждает некоторый набор сенсорных элементов, совершенно отличных от тех элементов,
    которые активизировались при воздействии ранее предъявленных стимулов того же класса, то эксперимент является
    исследованием чистого обобщения.
    Персептроны не обладают способностью к чистому обобщению, но они вполне удовлетворительно функционируют в
    экспериментах по различению, особенно если контрольный стимул достаточно близко совпадает с одним из образов,
    относительно которых персептрон уже накопил определённый опыт.</h2>

</p>
<a th:href="@{'/view/confluence/sigma/' + ${jiraTaskId}}">Продолжение в Confluence Sigma!!!</a>

<h2>Примеры задач распознавания образов</h2>

<ul>
    <li>Оптическое распознавание символов</li>
    <li>Распознавание штрих-кодов</li>
    <li>Распознавание автомобильных номеров</li>
    <li>Распознавание лиц</li>
    <li>Распознавание речи</li>
    <li>Распознавание изображений</li>
    <li>Распознавание локальных участков земной коры, в которых находятся месторождения полезных ископаемых</li>
    <li>Классификация документов</li>
</ul>

<a th:href="@{'/view/confluence/sigma/' + ${jiraTaskId}}">Продолжение в Confluence Sigma!!!</a>

</body>
</html>