<html>
<head>
    <meta charset="utf-8">
    <title>SIGMA CONFLUENCE</title>
</head>
<body>
<h1>SIGMA CONFLUENCE</h1>
<h2>Задача <span th:text="${jiraTaskId}"/> <span th:text="${jiraTaskName}"/></h2>
<p>
    <span th:text="${jiraTaskDescription}"/>
</p>
<div>
    <h2>Теория распознава́ния о́браза</h2>
    <p>Теория распознава́ния о́браза — раздел информатики и смежных дисциплин, развивающий основы и методы классификации
        и
        идентификации предметов, явлений, процессов, сигналов, ситуаций и т. п. объектов, которые характеризуются
        конечным
        набором некоторых свойств и признаков. Такие задачи решаются довольно часто, например, при переходе или проезде
        улицы по сигналам светофора. Распознавание цвета загоревшейся лампы светофора и знание правил дорожного движения
        позволяет принять правильное решение о том, можно или нельзя переходить улицу.</p>

    <p>Необходимость в таком распознавании возникает в самых разных областях — от военного дела и систем безопасности до
        оцифровки аналоговых сигналов.</p>

    <p> Проблема распознавания образа приобрела выдающееся значение в условиях информационных перегрузок, когда человек
        не
        справляется с линейно-последовательным пониманием поступающих к нему сообщений, в результате чего его мозг
        переключается на режим одновременности восприятия и мышления, которому свойственно такое распознавание .</p>

    <p>Неслучайно, таким образом, проблема распознавания образа оказалась в поле междисциплинарных исследований — в том
        числе в связи с работой по созданию искусственного интеллекта, а создание технических систем распознавания
        образа
        привлекает к себе всё большее внимание.</p>
</div>

<a th:href="@{'/view/confluence/alpha/' + ${jiraTaskId}}">Продолжение в Confluence Alpha!!!</a>

<div>
    <h2>Направления в распознавании образов</h2>
    Можно выделить два основных направления:

    Изучение способностей к распознаванию, которыми обладают живые существа, объяснение и моделирование их;
    Развитие теории и методов построения устройств, предназначенных для решения отдельных задач в прикладных целях.
</div>

<div id="Translation">

    <h2> Некоторые методы распознавания графических образов</h2>
    <p> Для оптического распознавания образов можно применить метод перебора вида объекта под различными углами,
        масштабами,
        смещениями и т. д. Для букв нужно перебирать шрифт, свойства шрифта и т. д.</p>

    <p> Второй подход — найти контур объекта и исследовать его свойства (связность, наличие углов и т. д.)</p>

    <p> Ещё один подход — использовать искусственные нейронные сети. Этот метод требует либо большого количества
        примеров
        задачи распознавания (с правильными ответами), либо специальной структуры нейронной сети, учитывающей специфику
        данной задачи.</p>
</div>


<a th:href="@{'/view/confluence/alpha/' + ${jiraTaskId}}">Продолжение в Confluence Alpha!!!</a>

</body>
</html>